<section class="candidats-panel panel">
	
	<div class="candidats"><img src="img/candidats/faycal.jpg" width="100%" height="100%"/>Fayçal</div>
	<div class="candidats"><img src="img/candidats/rayhana.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Zineb.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Adil.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Kawtar.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Zahidi.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Sakina.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Omar.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Khadija.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Hicham.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Atifa.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Ismail.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/Zhor.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/.jpg" width="100%" height="100%"/> </div>
	<div class="candidats"><img src="img/candidats/.jpg" width="100%" height="100%"/> </div>
	

</section>