<section class="panel" ng-controller="HomeCtrl">
	    

  <div class="last-news">
      <img src="img/IMG_4772.JPG">
      <div class="title-news">NEWS</div>
      <div class="last-news-content"><span>MasterChef MAROC</span> Le plus grand concours arrive enfin au maroc</div>
  </div>
  
  <div class="candidats-carousel">
    <div class="video">Vidéos</div>
    <div class="recette">Episodes</div>
  </div>

  <div class="countdown" >
    <span class="countdown-desc">Ne ratez pas le prochain épisode</span>
    <span class="countdown-desc orange">Chaque jeudi sur 2M</span>
    <span countdown="{until:  liftoffTime , format:'DHMS', padZeroes: true}"></span>
  </div>
</section>
